{% extends 'admin.twig' %}

{% block main %}
<form class="editheme" action="admin.php?page=theme&action=create" method="post" enctype="multipart/form-data">
	<label for="nom">Titre du thème :</label>
	<input type="text" name="nom" placeholder="Nom">
	<label for="description">Description :</label>
	<input type="text" name="description" placeholder="Description">
	<label for="nom">Téléverser une image :</label>
	<input class="inpimg" type="file" name="image">
	<input class="submit" type="submit" value="Ajouter un nouveau thème">
</form>
{% endblock %}